# Lab 2 - Jorge

## Exploración de los datos

1. En el fichero datosSAN2018.zip encontrar ́as un fichero csv para cada d ́ıa con cada una
de las negociaciones que se realizaron, con la fecha, el precio y el volumen negociado.
Carga todos los ficheros y ju ́ntalos en un u ́nico DataFrame de pandas con el que
trabajaremos durante toda la pr ́actica.

In [2]:
import pandas as pd
import zipfile
import os

# Nombre del archivo ZIP
zip_filename = "/Users/jorgegarcelan/Desktop/UNI/5-MASTER IAA/SC3/IA FINANZAS/IAA-Finance/Labs/Lab 2/data/datosSAN2018.zip"

# Verificar si el archivo ZIP existe
if not os.path.exists(zip_filename):
    raise FileNotFoundError(f"El archivo {zip_filename} no se encuentra en la ruta especificada.")

# Lista para almacenar los DataFrames
dfs = []

try:
    # Extraer los archivos y procesarlos
    with zipfile.ZipFile(zip_filename, 'r') as z:
        # Obtener la lista de archivos dentro del ZIP
        file_list = z.namelist()

        # Iterar sobre cada archivo CSV dentro del ZIP
        for file in file_list:
            if file.endswith(".csv"):  # Asegurar que es un archivo CSV
                with z.open(file) as f:
                    df = pd.read_csv(f)  # Leer el CSV en un DataFrame
                    dfs.append(df)

    # Concatenar todos los DataFrames en uno solo
    df_final = pd.concat(dfs, ignore_index=True)

except zipfile.BadZipFile:
    raise zipfile.BadZipFile("El archivo no es un ZIP válido o está corrupto.")

In [3]:
df

                          TIME  VOLUMEN  PRECIO
0      2018-09-27 09:00:16.000       11   4.453
1      2018-09-27 09:00:16.000        1   4.453
2      2018-09-27 09:00:16.000        6   4.453
3      2018-09-27 09:00:16.000       10   4.453
4      2018-09-27 09:00:16.000      133   4.453
...                        ...      ...     ...
13279  2018-09-27 17:35:11.000     1659   4.481
13280  2018-09-27 17:35:11.000    76775   4.481
13281  2018-09-27 17:35:11.000     1722   4.481
13282  2018-09-27 17:35:11.000    60418   4.481
13283  2018-09-27 17:35:11.000    25505   4.481

[13284 rows x 3 columns]

2. Usando los datos del apartado anterior calcula las velas (open, high, low, close, vol)
diarias y mensuales.

3. Haz un gráfico de velas diarias y mensuales.

4. Para un día elegido por ti, calcula el precio ponderado por volumen (VWAP) desde el
inicio del día, en cada instante de tiempo.

5. Obtén una gráfico parecido a la Figura 1: donde puedas ver las negociaciones, el VWAP
y volumen acumulado a lo largo del día. ¿Qué conclusiones puedes extraer?

## 2. Cálculo y estimación del volumen diario